<h1>Users#dashboard</h1>
<p>Find me in app/views/users/dashboard.html.erb</p>
<a rel="nofollow" data-method="delete" href="/users/sign_out">Sign out</a>
<%= react_component("Posts", props: {}, prerender: false) %>
